<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ function('wp_title') }}</title>
        <meta name="author" content="name">
        <meta name="description" content="description here">
        <meta name="keywords" content="keywords,here">
        <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        {{ function('wp_head') }}
    </head>
    <body {{ function('body_class') }}>
        <header>
        {% block header %}
            {% include 'includes/navbar.twig' %}
        {% endblock %}
        </header>

        <main>
        {% block main %}
            {% if posts %}
                {% for post in posts %}
                    {{ post.content }}
                {% endfor %}
            {% endif %}
        {% endblock %}
        </main>

        <footer>
        {% block footer %}

        {% endblock %}
        </footer>
        {{ function('wp_footer') }}
    </body>
</html>

